* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */

.cabinet {
  position: absolute;
  left: 1419px;
  color: #CC9933;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  margin-top: 50px;
}

.phone-number {
  color: #666666;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  position: absolute;
  left: 676px;
  top: 47px;
}

.main-logo {
  position: relative;
  top: 30px;
  left: 375px;
}

/* navigation */

.navigation {
  margin-top: 114px;
  margin-left: 375px;
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  list-style: none;
}

.list-item .nav-link{
  color: #666666;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  margin: 27px 45px;
}

.btn {
  margin: 14px 45px 27px 0px;
}

.tour {
  margin-right: 0;
}

/* container */

.container {
  margin: 130px 375px 0 375px;
  display: flex;
}

.more {
  text-decoration: none;
  color: #CC9933;
  font-size: 16px;
  flex-wrap: wrap;
}

.services {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-item {
  margin-bottom: 20px;
  width: 50%;
  float: left;
}

.service-text {
  margin-top: 5px;
}

.services_section .container {
  display: flex;
  flex-direction: column;
}

.sec-text .container {
  display: flex;
  flex-direction: column;
}

.advantage-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantage-item {
  margin-bottom: 20px;
  width: 50%;
  float: left;
}

.advantage-sec .container {
  display: flex;
  flex-direction: column;
}

/* Accommodation */

.accommodation .container {
  width: 1170px;
  display: flex;
  flex-direction: column;
}

.accommodation-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.accommodation-item {
  margin-bottom: 20px;
  width: 50%;
  float: left;
}